*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
  height: 75vh;
}

.main{
  margin: 0 auto;
  width: 800px; 
}

.main h1{
  font-size: 26px;
  user-select: none;
}

.main__center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__center h2{
  font-size: 92px;
}

.main__center p{
  margin-top: 20px;
  font-size: 22px;
}

.social-media{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-media li{
  margin: 0 18px;
}