*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
  height: 100vh;
}

.header{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.logo img{
  width: 60px;

}

.nav ul{
  display: flex;
  list-style: none;
}

.nav ul li{
  margin: 0 15px;
}

.nav ul li a{
  text-decoration: none;
  color: #fff;
}

.main{
  margin: 40px auto;
  width: 800px; 
}

.main h1{
  font-size: 26px;
  user-select: none;
  color: #1e90ff;
}

.main__center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__center h2{
  font-size: 92px;
}

.main__center p{
  margin-top: 20px;
  font-size: 22px;
}

.social-media{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  user-select: none;
}

.social-media li{
  margin: 0 25px;
}

.social-media li a{
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-media li a:hover{
  color: #fff;

}

.social-media li a i{
  font-size: 32px;
}

@media screen and (max-width: 768px){
  .main{
    width: 90%;
  }

  .main h1{
    margin-bottom: 25px;
  }

  .main__center h2{
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 25px;
  }

  .main__center p{
    font-size: 18px;
  }

  .social-media{
    margin-top: 50px;
  }

  .social-media li{
    margin: 0 15px;
  }

  .social-media li a i{
    font-size: 40px;
    margin: 0 10px;
  }
  
}

@media screen and (max-width: 320px){
  .main__center h2{
    font-size: 52px;
    line-height: 60px;
  }

  .main__center p{
    font-size: 16px;
  }

  .social-media li a i{
    font-size: 32px;
    margin: 0 5px;
  }
}