/* Clases universales */

.text-hover{
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.text-hover:hover{
  box-shadow: inset 600px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer ;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h3{
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  
  display: inline-block;
  padding: 3px 0;
  position: relative;
  margin-right: 4%;
  font-size: 24px;
}

.title h3::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #20a4f3;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.title h3:hover::after{
  width: 100%; 
  left: 0; 
}

.title hr{
  width: 80%;
}

@media screen and (max-width: 1280px){
  .title h3{
    font-size: 20px;
  }
}

/* --------------- */

:root{
  --primary-color: #1e90ff;
  --secondary-color: #54b3d6;
  --tertiary-color: #20a4f3;
  --quaternary-color: #13608d;
  --background-color: #011e48;
  --text-color: #ddd;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 200vh;
}

/* ------ HEADER ------ */

.header{
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #011e48;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow:
      0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0px 12.5px 10px rgba(0, 0, 0, 0.035),
      0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0px 100px 80px rgba(0, 0, 0, 0.07);
}

.logo img{
  width: 60px;
  transition: all 0.2s ease-in-out;
}

.logo img:hover{
  transform: scale(1.15);
}

.nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li{
  margin: 0 15px;
}

.nav ul li a{
  text-decoration: none;
  color: #fff;
  transition: color 300ms;
}

.nav ul li a:hover{
  color: #20a4f3;
}

#resume{
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.35em 1.1em;
  border: #20a4f3 solid 0.15em;
  border-radius: 0.25em;
  color: #20a4f3;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

#resume:hover{
  color: #fff;
}

#resume:active{
  border-color: #13608d;
}

#resume::after, #resume::before{
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #20a4f3;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

#resume span{
  z-index: 1;
}

#resume::before {
  left: 0;
  transform: translateX(-9em);
}

#resume::after {
  right: 0;
  transform: translateX(9em);
}


#resume:hover:before {
  transform: translateX(-1em);
}

#resume:hover:after {
  transform: translateX(1em);
}

#resume:active:before,
#resume:active:after {
  background: #13608d;
}

/* ------ MAIN SECTION ------ */

.main{
  width: 100%;
  height: 95vh;
  background-color: #011e48;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -5px -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section{
  margin-top: -150px;
  width: 800px; 
}

.main-section p{
  font-size: 42px;
  text-align: left;
  color: var(--text-color);
  font-weight: 400;
}

.main-section h1{
  font-size: 90px;
  color: var(--primary-color);
  text-align: left;
  font-weight: 600;
}

.main-section h2{
  font-size: 45px;
  text-align: left;
  color: var(--text-color);
  font-weight: 400;
}

.main-section h2 span{
  color: var(--primary-color);
}

.main__center p{
  margin-top: 20px;
  font-size: 22px;
}

.arrows {
  width: 60px;
  height: 78px;
  position: absolute;
  bottom: 18px;
}

.arrows path {
  stroke: var(--primary-color);
  fill: transparent;
  stroke-width: 2px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

@media screen and (max-width: 950px){
  .main-section{
    width: 90%;
  }
  .main-section p{
    font-size: 36px;
  }
  .main-section h1{
    font-size: 80px;
  }
  .main-section h2{
    font-size: 40px;
  }
  .main__center p{
    font-size: 20px;
  }
}

@media screen and (max-width: 712px){
  .main-section{
    width: 90%;
  }
  .main-section p{
    font-size: 32px;
  }
  .main-section h1{
    font-size: 70px;
  }
  .main-section h2{
    font-size: 36px;
  }
  .main__center p{
    font-size: 18px;
  }
}
/* ------ SOCIAL ASIDE ------ */

.aside-social{
  position: fixed;
  bottom: 0;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside-social a{
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  margin: 10px 0;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.aside-social a i{
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.aside-social a:hover i{
  color: #fff;
  transform: rotateY(360deg);
}

.aside-social a::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #54b3d6;
  transition: .5s;
  z-index: 2;
}

.aside-social a:hover:before {
  top: 0;
}

.white-line{
  margin-top: 10px;
  border: 0;
  border-left: 1px solid #fff;
  height: 120px;
}

@media screen and (max-width: 1280px){
  .aside-social a{
    width: 42px;
    height: 42px;
    font-size: 27px;
    line-height: 40px;
  }
  .white-line{
    height: 80px;
  }
} 
@media screen and (max-width: 1152px){

}

/* ------ ABOUT ME ------ */

.about{
  width: 910px;
  margin: auto;
  margin-top: 7%;
}

.about-content{
  margin-top: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content p{
  font-size: 20px;
  color: var(--text-color);
}

.about-content p span{
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.about-content p span:hover{
  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
  cursor: pointer ;
}

.img-wrapper{
  position: relative;
  margin-left: 30px;
}

.img-wrapper:hover .filter{
  opacity: 0;
}

.filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 144, 245, 0.3);
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.img-wrapper img{
  display: block;
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.img-wrapper:hover img{
  filter: none;
  mix-blend-mode: normal;
}

.about-content img:hover{
  filter:  sepia(0%);
}

@media screen and (max-width: 1280px){
  .about{
    width: 75%;
    padding: 30px;
  }
  .about-content p{
    font-size: 18px;
  }
  .img-wrapper img{
    width: 300px;
  }
}

/* SKILLS */

.skills{
  width: 950px;
  margin: auto;
  margin-top: 9%;
}

.skills-content{
  padding: 15px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  gap: 20px;
}

.skill{
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.skill img{
  width: 90px;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}

.skill:hover img{
  filter: grayscale(0%);
  transform: scale(1.1);
}

.skill p{
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1280px){
  .skills{
    width: 75%;
    padding: 30px;
  }
  .skills-content{
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  }
  .skills-content{
    margin-top: 20px;
  }
  .skill img{
    width: 80px;
  }
}