/* ------ SOCIAL ASIDE ------ */

.aside-social {
  position: fixed;
  bottom: 0;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideUp 1s ease forwards;
  z-index: 1000;
}

.no-show-aside{
  position: fixed;
  bottom: 0;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideDown 1s ease forwards;
}

/* Animación para subir */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Animación para bajar */
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}


.social-icon{
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: 10px 15px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon img {
  position: relative;
  width: 29px;
  transition: 0.5s;
  z-index: 3;
}

.social-icon:hover img {
  transform: rotateY(360deg);
  filter: invert(100%);
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #54b3d6;
  transition: 0.5s;
  z-index: 2;
}

.social-icon:hover:before {
  top: 0;
}

.white-line {
  margin-top: 10px;
  border: 0;
  border-left: 1px solid #fff;
  height: 120px;
}


@media screen and (max-width: 1280px) {
  .social-icon {
    width: 50px;
    height: 50px;
  }

  .social-icon img {
    width: 28px;
  }

  .white-line {
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .aside-social {
    display: none;
    animation: none;
  }

  .no-show-aside{
    display: none;
    animation: none;
  }
}