.contact {
  width: 920px;
  margin: auto;
  margin-top: 7%;
  height: 70vh;
}

.contact-title hr {
  width: 70%;
}

.contact-content {
  width: 100%;
  margin: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.left-contact-side {
  padding: 10px;
  width: 50%;
}

.left-contact-side p {
  font-size: 22px;
  font-weight: 500;
}

.left-contact-side .social{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;
}

.contact-form {
  width: 50%;
}

.contact-form form {
  position: relative;
  top: -15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form form input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.contact-form form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  resize: none;
}

.contact-form form button {
  margin-top: 30px;
  background: transparent;
  font-size: 16px;
  padding: 10px 18px;
}

@media screen and (max-width: 1280px) {
  .contact {
    width: 75%;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    width: 95%;
    padding: 20px;
  }

  .contact-title hr{
    width: 45%;
  }

  .contact-content {
    flex-direction: column;
  }

  .left-contact-side {
    width: 100%;
  }

  .contact-form {
    margin-top: 25px;
    width: 100%;
    
  }

  .contact-form form input {
    width: 100%;
    font-size: 18px;
  }

  .contact-form form textarea {
    width: 100%;
    font-size: 18px;
  }
}
