/* ------ HEADER ------ */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #011e48;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

.logo img {
  width: 60px;
  transition: all 0.2s ease-in-out;
}

.logo img:hover {
  transform: scale(1.15);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 300ms;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 3px 0;
  position: relative;
}

.nav ul li a:hover{
  color: #20a4f3;
}

.nav ul li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #20a4f3;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.nav ul li button{
  background: transparent;
  font-size: 16px;
  padding: 8px 18px;
}

.menu {
  display: none;
}

.menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #011e48;
}

.menu-toggle {
  display: none; /* Esto es solo para pantallas pequeñas */
}

@media (max-width: 768px) {

  .header{
    padding: 10px 25px;
    justify-content: space-between;
  }

  .menu-toggle {
    background: transparent;
    border: none;
    display: block; /* Mostrar el botón de menú en pantallas pequeñas */
  }

  .menu-toggle img {
    width: 30px;
    filter: invert(1);
  }

  .nav ul {
    display: none; /* Ocultar el menú en pantallas pequeñas */
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    position: static;
    background: transparent;
  }
}
