.projects{
    width: 900px;
    margin: auto;
    margin-top: 7%;
}

.projects-content{
    margin-top: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}